{{define "subject"}}Welcome to Quotable!{{end}}

{{define "plainBody"}}
Dear {{.username}},

Thank you for joining Quotable, where the world's most inspiring words are at your fingertips! We're excited to have you as part of our community.

For future reference, your user ID number is {{.userID}}

Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON body to activate your account:

{"token": "{{.activationToken}}"}

Please note that this is a one-time use token and it will expire in 3 days.

If you did not sign up for Quotable, please disregard this email.

Thank you,
Yangyang Wang
{{end}}

{{define "htmlBody"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
</head>
<body>
    <p>Dear {{.username}},</p>
    <p>Thank you for joining Quotable, where the world's most inspiring words are at your fingertips! We're excited to have you as part of our community.</p>
    <p>For future reference, your user ID number is {{.userID}}</p>    
    <p>Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON body to activate your account:</p>
    <pre><code>
        <p>{"token": "{{.activationToken}}"}</p>
    </code></pre>
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>If you did not sign up for Quotable, please disregard this email.</p>
    <p>Thanks,</p>
    <p>Yangyang Wang</p>
</body>
</html>
{{end}}